<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="cah_api_game_create" path="/api/game/create" methods="GET">
        <default key="_controller">cah.controller.api.game.create</default>
    </route>

    <route id="cah_game_view" path="/game/{game}" methods="GET">
        <default key="_controller">cah.controller.client.game.view</default>
    </route>

    <route id="cah_register" path="/register" methods="GET,POST">
        <default key="_controller">cah.controller.client.user.register</default>
    </route>

    <route id="cah_login" path="/login" methods="GET,POST">
        <default key="_controller">cah.controller.client.user.login</default>
    </route>

    <route id="cah_logout" path="/logout"/>

    <route id="cah_index" path="/" methods="GET">
        <default key="_controller">cah.controller.client.index</default>
    </route>

    <route id="cah_api_game_game_fetch" path="/api/game/{game}" methods="GET">
        <default key="_controller">cah.controller.api.game.fetch</default>
    </route>

    <route id="cah_api_game_game_version" path="/api/game/{game}/version" methods="GET">
        <default key="_controller">cah.controller.api.game.version</default>
    </route>

    <route id="cah_api_game_game_fetch_hand" path="/api/game/{game}/hand" methods="GET">
        <default key="_controller">cah.controller.api.game.hand</default>
    </route>


    <route id="cah_api_game_game_fetch_players" path="/api/game/{game}/players" methods="GET">
        <default key="_controller">cah.controller.api.game.players</default>
    </route>

    <route id="cah_api_game_player_fetch" path="/api/player/{player}" methods="GET">
        <default key="_controller">cah.controller.api.player.fetch</default>
    </route>

    <route id="cah_api_game_join" path="/api/game/{game}/join" methods="GET">
        <default key="_controller">cah.controller.api.game.join</default>
    </route>

    <route id="cah_api_game_leave" path="/api/game/{game}/leave/{player}" methods="GET">
        <default key="_controller">cah.controller.api.game.leave</default>
    </route>

    <route id="cah_api_round_start" path="/api/game/{game}/round/start" methods="GET">
        <default key="_controller">cah.controller.api.round.start</default>
    </route>

    <route id="cah_api_round_submission" path="/api/game/{game}/round/submit/{card}" methods="GET">
        <default key="_controller">cah.controller.api.round.submit</default>
    </route>

    <route id="cah_api_round_complete" path="/api/game/{game}/round/complete/{winner}" methods="GET">
        <default key="_controller">cah.controller.api.round.complete</default>
    </route>
</routes>
