.btn {
    @apply font-bold p-3 rounded mx-5 cursor-pointer uppercase;

    &.btn--primary {
        @apply bg-white text-black;
    }

    &.btn--secondary {
        @apply bg-black text-white;
    }

    &.btn--large {
        @apply text-xl;
    }
}
