{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-screen h-screen flex">
        <div class="text-white self-center text-center w-full">
            <div class="text-9xl mb-10">
                Nusje2000/CAH
            </div>
            <div class="text-3xl mb-5">
                An online version of Cards Against Humanity (Work in Progress)
            </div>
            <div class="flex w-1/3 self-center mx-auto">
                {% if is_granted(constant('Symfony\\Component\\Security\\Core\\Authorization\\Voter\\AuthenticatedVoter::IS_AUTHENTICATED_FULLY')) %}
                    <a href="{{ path('cah_game_create') }}" class="btn btn--primary flex-1">Start Game</a>
                    <a href="{{ path('cah_logout') }}" class="btn btn--secondary flex-1">Logout</a>
                {% else %}
                    <a href="{{ path('cah_login') }}" class="btn btn--primary flex-1">Login</a>
                    <a href="{{ path('cah_register') }}" class="btn btn--primary flex-1">Register</a>
                {% endif %}
                <a href="https://github.com/nusje2000/cards-against-humanity" class="btn btn--secondary flex-1">GitHub</a>
            </div>
        </div>
    </div>
{% endblock %}
