{% extends 'base.html.twig' %}

{% import _self as view %}

{% block additional_stylesheets %}
    {{ encore_entry_link_tags('game') }}
{% endblock %}

{% block additional_javascripts %}
    {{ encore_entry_script_tags('game') }}
{% endblock %}

{% block body %}
    {% set round = game.rounds.hasActiveRound ? game.rounds.current : null %}

    <div class="game-container w-full" data-id="{{ game.id }}" data-player-id="{{ current_player.id }}"></div>
{% endblock %}
