{% extends 'base.html.twig' %}

{% block body %}

    <div class="w-screen h-screen flex">
        <div class="text-white self-center xl:w-1/2 w-full m-auto p-10">
            <form action="{{ path('cah_login') }}" method="post">
                {% if error %}
                    <div class="font-bold text-red-600">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-row">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" value="{{ last_username }}"/>
                </div>

                <div class="form-row">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password"/>
                </div>


                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="w-full btn btn--primary btn--large m-0">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
