{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form) }}
    <button class="font-bold p-3 bg-white text-black rounded flex-1 mx-5" type="submit">Register</button>
    {{ form_end(form) }}
{% endblock %}
